
.button {
    background-color: #283e3e;
    border: none;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.btn {
    margin-top: 15px;
    margin-left: 40rem;
    background-color: #283e3e;
    border: none;
    color: white;
    width: 170px;
    height: 43px;
    text-decoration: none;
    display: inline-block;
  }

 .arriba{
    margin-top: 30px;
    display: flex;
 } 

 img{
     width: 310px;
     height: 200px;
 }

 .logo{
    width: 250px;
    height: 80px;
   margin-left: 180px;
 }

  
input{
    height: 30px;
    min-height: 20%;
    min-width: 20%
}
  
.texto1{
    text-align: center;
}
  
.container{
    margin-top: 50px;
}

.cuadritos{
    display: flex;
}

.botones{
    display: flex;
}

.footer{
    display: flex;
}
  
.fintxt{
    margin: auto;
    word-spacing: 30px;
    margin-top: 40px;
}
  
.final{
      text-align: center;
}
  

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}


