.button {
	background-color: #283e3e;
	border: none;
	color: white;
	padding: 12px 70px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
  }
  
.botonInicial {
  margin-top: 15px;
  margin-left: 40rem;
  background-color: #283e3e;
  border: none;
  color: white;
  width: 170px;
  height: 43px;
  text-decoration: none;
  display: inline-block;
}
 
.arriba{
 margin-top: 20px;
 display: flex;
 margin-left: 100px;
} 
  
input{
  height: 30px;
  min-height: 20%;
  min-width: 40%
}
  
.container{
  width: 50%;
  margin-left: 10rem;
}
  
.cuerpo{
  margin-top: 50px;
}
  
.footer{
  display: flex;
}

.fintxt{
  margin: auto;
  word-spacing: 30px;
  margin-top: 30px;
}
  
.final{
	text-align: center;
	margin-right: 10px;
}
  
.logo{
  background-color: black;
  color: white;
  margin-right: 10px;
}
  