.button{
	background-color: #000;
	color: white;
}

.botonInicial {
    margin-top: 15px;
    margin-left: 50rem;
    background-color: #283e3e;
    border: none;
    color: white;
    width: 170px;
    height: 43px;
    text-decoration: none;
    display: inline-block;
  }

 .arriba{
   display: flex;
 } 

 .picture{
  margin-left: 100px;
}


.container{
    margin-left: 10rem;
    margin-top: 100px;
}

.firstLine{
    width: 54%;
    margin-right: 70rem;
}

.secondLine{
    width: 54%;
    margin-right: 70rem;
}


input{
	margin-right: 30px;
	height: 40px;
	width: 25%
}

.large{
	height: 40px;
	width: 53%
}

.footer{
	display: flex;
	margin-bottom: 20px;
  margin-right: 170px;	
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top:  10px;
}

.btn1{
	background-color: #283e3e;
	color: white;	
	width: 150px;
	height: 40px;
}

.final{
	text-align: center;
  margin-right: 10px;
}

.logo{  
	background-color: black;
	color: white;
}











